@using System.Web.Optimization
@model ContactLibrary.Domain.ContactObject


@{
    ViewBag.Title = "Edit Contact";
}

@using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
{

@Html.AntiForgeryToken();
    <div class="top-title clearfix">
        <h2>
            <span class="title-text">Edit Contact</span>
            @Html.HiddenFor(x => x.ID)
            <button type="submit" class="btn btn-primary">Save</button>
        </h2>
    </div>
    <div class="box-model">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label for="Number" class="col-sm-2 control-label">First name</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter First Name" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label for="Number" class="col-sm-2 control-label">Last name</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Last Name" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label for="Number" class="col-sm-2 control-label">Phone number</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Phone Number" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label for="Number" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}

